<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ../partials/head.ejs %>
    <!-- Using ejs to import the head code -->
    <link rel="stylesheet" type="text/css" href="/css/library.css">
    <link rel="stylesheet" type="text/css" href="/css/movieshowinfo.css">
    <script src="/scripts/library.js"></script>
    <!-- Linking the stylesheet for the library page -->
  </head>

  <body>
    <header>
      <% include ../partials/header.ejs %>
      <!-- Using ejs to import the header code -->
    </header>

    <main class="grid-container">
      <div class=" grid-100 tab">
          <button id="bPopular" class="tablinks" onclick="showTab(event, 'Popular')">#Popular</button>
          <% genres.forEach(function(genre) {%>
            <p><%= genre.id %></p>
            <button id="b<%= genre.id %>" class="tablinks" onclick="showTab(event, '<%= genre.id %>')">#<%= genre.name %></button>
          <%});%>
      </div>
      <div id="Popular" class="tabcontent">
      </div>
      <% genres.forEach(function(genre) {%>
        <div id="<%= genre.id %>" class="tabcontent">
          <h2><%= genre.name %></h2>
        </div>
        <%});%>
    </main>
    <footer class="grid-100 tablet-grid-100 footer">
      <% include ../partials/footer.ejs %>
      <!-- Using ejs to import the footer code -->
    </footer>
    <script src="/scripts/libraryTabs.js"></script>
</body>
</html>
