<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ../partials/head.ejs %>
    <!-- Using ejs to import the head code  -->
    <link rel="stylesheet" type="text/css" href="/css/results.css">
    <link rel="stylesheet" type="text/css" href="/css/index-main.css">
    <!-- Linking the stylesheet for the index page -->
  </head>

  <body>
    <header>
      <% include ../partials/header.ejs %>
      <!-- Using ejs to import the header code -->
    </header>

    <main class="grid-container">
      <% search.results.forEach(function(movie){%>
              <div class="slideshow fade">
                  <div class="text">
                      <h1 class="title">
                          <%= movie.title %>
                      </h1>
                      <ul class="info">
                          <li class="rating">⭐️
                              <%= movie.vote_average %><i> /10</i></li>
<<<<<<< HEAD
=======
                          <!-- <li class="duration">Run Time: 2h 21'</li>
                  <li class="age">Rated: PG-13</li> -->
>>>>>>> c9c1cd0b7bc194fa8c5398b016c13454e7d835c1
                      </ul>
                      <p class="plot">
                          <%= movie.overview %>
                      </p>
                      <div><a href="/movieshowinfo?id=<%=movie.id %>&user=<%=user%>" class="button url" tabindex="-1">more details</a></div>
                  </div>
                  <div class="image">
                      <img src="https://image.tmdb.org/t/p/original/<%= movie.poster_path %>" alt="<%= movie.title %> Poster" width="261px" height="401px">
                  </div>
              </div>
              <hr>
              <% }); %></main>

    <footer class="grid-100 tablet-grid-100 footer">
      <% include ../partials/footer.ejs %>
      <!-- Using ejs to import the footer code -->
    </footer>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- <script src="/scripts/searchresults.js"></script> -->
  </body>
</html>
